<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row">

            <h1>EJS</h1>

            <table style="width:100%">
                <tr>
                    <th></th>
                    <th data-col="grapenuts">GrapeNuts</th>
                    <th data-col="banana">Banana</th>
                    <th data-col="orange">Orange</th>
                    <th data-col="total-cals">Total Calories</th>
                    <th data-col="total-protein">Total Protein</th>
                    <th data-col="total-sugar">Total Sugar</th>
                    <th data-col="total-fat">Total Fat</th>
                </tr>
                <tr class="Row">
                    <th>
                        <%=month%>-<%=date%>-<%=year%>
                    </th>
                    <td>
                        <label for="r1c1"></label>
                        <input class="r1" id="r1c1" name="r1c1" type="number" value="1">
                    </td>
                    <td>
                        <label for="r1c2"></label>
                        <input class="r1" id="r1c2" name="r1c2" type="number" value="0">
                    </td>
                    <td>
                        <label for="r1c3"></label>
                        <input class="r1" id="r1c3" name="c1r3" type="number" value="0">
                    </td>
                    <td class="total_cals">
                    </td>
                    <td class="total_protein">
                    </td>
                </tr>
                <tr>
                    <th>
                        01-02
                    </th>
                    <td>
                        <label for="r2c1"></label>
                        <input class="r2" id="r2c1" name="r2c1" type="number" value="0">
                    </td>
                    <td>
                        <label for="r2c2"></label>
                        <input class="r2" id="r2c2" name="r2c2" type="number" value="0">
                    </td>
                    <td>
                        <label for="r2c3"></label>
                        <input class="r2" id="r2c3" name="r2c3" type="number" value="0">
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.row -->
           
        <div class="row">
            <div class="col" style="border: 1px black solid;">
                <button id="calculate_button">Calculate</button>
                <button id="insert_button">Insert</button>
                <button id="update_button">Update</button>
            </div>   
        </div>
        <!-- /.row -->

    <div id="scripts" class="dev">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>

  </body>
</html>